.wrapper {
  display: 100px;
  height: 60vh;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.wrapper button {
  margin: 10px 20px;
  padding: 10px 20px;
}
.accordian {
  width: 500px;
}
.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: auto;
}
.content {
  color: #ffffff;
  height: auto;
  width: auto;
}
