.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 450px;
}

.current-image {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.hide-current-image {
  display: none;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #fff;
  filter: drop-shadow(0px 0px 5px #555);
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.circle-indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.current-indicators {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: blue;
  outline: none;
  border: none;
  margin: 0.02rem;
}

.update-current-indicators {
  color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  outline: none;
  border: none;
  margin: 0.02rem;
}
